* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f2f5;
  color: #333;
}
h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  background: linear-gradient(to right, #3b5672, #269dbe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h2, h3 {
  font-size: 2rem;
  font-weight: bold;
  color: #304153;
  margin-bottom: 20px;
}
p {
  font-size: 1.1rem;
  line-height: 1.7;
  color: #444;
}
a {
  color: #283b50;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #2c4e72;
  text-decoration: underline;
}
img.rounded-circle {
  border: 5px solid #445568;
  margin-top: 20px;
  margin-bottom: 20px;
}
.img-row {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin: 30px 0;
}

.personal-img {
  max-width: 20%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
  h2, h3 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1rem;
  }

  .personal-img {
    max-width: 40%;
  }
}
